version: '2'
services:
  db:
    image: jokyip/db:latest
    networks:
      - mongo_default
    ports:
      - 8222:1337
    env_file:
      - ./.env
      - ../.env
    entrypoint: top -b -d 1000

networks:
    mongo_default:
      external: true
